body {
  background-color: #F1F0F2;
}
.secao-titulo {
  background-color: #88AABF;
  color: #FFFFFF;
  padding: 2px;
  text-align: center;
  font-family: "Copperplate", fantasy;
}

.pagina-titulo {
  background-color: #739CBF;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  font-family: "Copperplate", fantasy;
}

.secao-conteudo {
  color: #515151;
  text-align: justify;
  font-family: "Copperplate", fantasy;
  font-size: 18px;
  padding: 20px;
  line-height: 2;
}

.lado-a-lado {
  display: table-row;
}

.secao-conteudo-imagem {
  text-align: center;
  vertical-align: middle;
  width: 25%;
  height: 50%;
  display: table-cell;
}

.secao-conteudo-texto {
  color: #515151;
  vertical-align: middle;
  text-align: justify;
  width: 75%;
  height: 50%;
  display: table-cell;
  font-family: "Copperplate", fantasy;
  font-size: 18px;
  padding: 20px;
  line-height: 1.8;
}

.menu {
  display: grid;
  place-items: center;
  font-size: 20px;
}

/*Tira os marcadores da lista e formata o texto*/
ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #739CBF;
  font-family: "Copperplate", fantasy;
}

/*Coloca os itens do menu lado a lado*/
li { 
  float: left;
}

/*Cria o efeito de botão para cada item do menu*/
li a { 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 12px;
  text-decoration: none;
} 

/*Muda a cor dos botões do menu quando o cursor do mouse está sobre ele*/
li a:hover { 
  background-color: #88AABF;
}